:root {
    --emoji-size: 256px;
    --emoji-round-size: 10%;
    --emoji-color: #f4900c;
}

.wrapper {
    width: var(--emoji-size);
    height: var(--emoji-size);
    font-size: var(--emoji-size);
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: var(--emoji-color);
    border-radius: var(--emoji-round-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.letter {
    font-size: 80%;
    color: white;
    line-height: 1;
}

.output {
    height: var(--emoji-size);
    background-color: gray;
    overflow-x: auto;
}

.input {
    height: 2em;
}
