:root {
    --emoji-size: 256px;
    --emoji-round-size: 10%;
    --emoji-color: #f4900c;
}

.wrapper {
    width: var(--emoji-size);
    height: var(--emoji-size);
    font-size: var(--emoji-size);
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: var(--emoji-color);
    border-radius: var(--emoji-round-size);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.letter {
    font-size: 77%;
    color: white;
    line-height: 1;
}

.output {
    position: relative;
    height: var(--emoji-size);
    background-color: gray;
    overflow-x: auto;
}

.output::before {
    content: "作った絵文字がここに表示されます\Aクリックでダウンロードできます";
    white-space: pre;
    color: white;
    text-align: center;
    line-height: 2;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.output canvas {
    position: relative;
}

input,
select,
button {
    height: 2em;
}

#colorSelector option {
    color: white;
}
